@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&display=swap');

.container {
   height: 100vh;
   display: flex;
   justify-content: center;
   align-items: center;
   padding: 20px;
   margin-top: 105px;
}

.card {
    width: 100%;
    max-width: 350px;
    background: linear-gradient(to bottom, #0a0f2c, #000000);
    padding: 25px;
    color: #ffffff;
    font-family: "Cinzel", serif;
    text-align: center;
    border-radius: 15px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.4);
}

img {
    width: 100%;
    height: auto;
    display: block;
    border-radius: 15px 15px 0 0;
}

h1 {
    background-color: #2f4f4f;
    margin: 20px 0 10px;
}

.descricao {
    background-color: #b0bec5;
    margin: 10px 0 20px;
    line-height: 1.5;
}

h2 {
    letter-spacing: 2px;
    text-transform: uppercase;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    margin: 10px;
    color: #cfd8dc;
}

.caracteristicas p {
    color: #cfd8dc;
}